<div class="d-flex flex-wrap">
  <% @cart.cart_items.each do |cart_item| %>
    <% @product = cart_item.product %>
    <div class="card m-2" style="width: 18rem;">
      <% if @product.image.attached? %>
        <%= image_tag @product.image, class: "card-img-top" %>
      <% else %>
        <div class="card-img-top" style="height: 200px; background-color: #ddd;"></div>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @product.name %></h5>
        <p class="card-text"><%= @product.description %></p>
        <p class="card-text"><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
        <%= form_with(url: cart_add_path) do |f| %>
          <%= f.hidden_field :id, value: @product.id %>
          <%= f.number_field :quantity, value: cart_item.quantity, min: 0 %>
          <%= f.submit "Add to Cart", class: "btn btn-primary btn-sm" %>
        <% end %>
        <%= form_with(url: cart_remove_path) do |f| %>
          <%= f.hidden_field :id, value: cart_item.id %>
          <%= f.submit "Remove", class: "btn btn-danger btn-sm ml-2" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
