<div class="container">
  <h1 class="mt-4 mb-4">All Orders</h1>
</div>
<div class="table-responsive p-4">
  <table class="table table-bordered table-hover rounded">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>User</th>
        <th>Address</th>
        <th>Item</th>
        <th>Status</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @orders&.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.user.email %></td>
          <td><%= order.address %></td>
          <td>
            <% order.order_items.each do |order_item| %>
              <%= order_item.product.name %><br>
            <% end %>
          </td>
          <td class="editable-status" data-order-id="<%= order.id %>">
            <%= render 'admin/status_cell', order: order %>
          </td>
          <td>$<%= order.price %></td>
          <td class="flex justify-content-center align-center text-center">
            <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Delete', order, method: :delete, data: { "turbo-method": :delete }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
