<div class="container mt-4">
  <div class="card rounded">
    <div class="card-body">
      <%= form_with(model: @product, local: true, html: { class: '' }) do |f| %>

        <div class="mb-3">
          <%= f.label :name, class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :description, class: 'form-label' %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :price, class: 'form-label' %>
          <%= f.number_field :price, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :image, class: 'form-label' %>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        
        <%= f.submit "Save Product", class: 'btn btn-primary' %>
        <%= link_to "Back to all products", products_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
